body{
    background-color: #f5f5f5;
    /* padding: 15px; */
    
}

#job-title{
    margin: 0;
    font-size: 30px;
    background: linear-gradient(to top, #ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

img {
    margin: 5px 0;
}

#top-menu-bar{
    color: #fff;
    text-align: center;
    background: linear-gradient(to right,#ff8a00,#e52e71);
}

#top-menu-bar li{
    display: inline;
    margin: 0;
    padding: 0;
}

#top-menu-bar a{
    text-decoration: none;
    padding: 7px 15px 7px 15px;
    margin: 2px 0;
    color: #fff;
    display: inline-block;
}

#top-menu-bar a:visited {
    color: #fff;
}
#top-menu-bar a:hover,
#top-menu-bar a.active {
    color: #334455;
    background: #fff;
}

.page{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    margin: 12px 6px 12px 5px;
}

li {
    color: blueviolet;
}

.favorite {
    background: yellow;
    font-style: italic;
    color: blue;
}

  /* header, footer, #side-menu section {
    margin: 2px;
    padding: 4px;
    border: 2px solid blue;
}

#content{
    margin: 2px;
    padding: 4px;
    border: 2px solid red;
}

  #side-menu, #main{
    margin: 2px;
    padding: 4px;
    border: 2px solid green;
}  */

html {
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
} 

h2 {
    margin: 5px 0;
}

#header-wraper {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header-info {
    flex: 1;
    padding: 5px;
}

#my-picture {
    padding: 5px;
    width: 108px;
    height: 100px;
}

#my-picture img {
    height: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
}

header, body > section {
    flex: 1; 
    margin-top: 0;
} 

header > div{
    padding: 5px;
}

#home h2 {
    margin-top: 0;
}

#content {
    flex: 30;
    display: flex;
    flex-direction: row;
}

#side-menu{
    flex:1;
    padding: 5px;
}

#side-menu > section input{
    width: 90%;
    padding: 3px 5px;
    margin: 5px 0;
    box-sizing: border-box;  
    border-radius: 5px;
}
 
button {
    color: white;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border-color:#ff8a00;
    background: linear-gradient(to right,#ff8a00,#e52e71);
}

button:hover{
    border-color: #ff8a00;
    background:linear-gradient(to right, #ff8a00, #e52e71);
}

#main {
    flex: 4;
}

footer{ 
    min-height: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: #f5f5f5;
}

footer a{
    color: #f5f5f5;
}